header {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #d8981f;

  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  top:120px;
}

.avatar {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  display:inline-block;
  color:white
}

h2 span {
  font-weight:lighter
}