#head1 {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #fda77f;

  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  top:120px;
}

.avatar {
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  display:inline-block;
  color:#fae8c8;
  padding-top:10px;
}

h2 span {
  font-weight:lighter
}